name: Java Build & Deploy App

on:
  push:
    branches: ["dev", "main"]

jobs:
  build:
    runs-on: ubuntu-latest
    outputs:
      image-tag: ${{ steps.set-tag.outputs.tag }}

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USER }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Set unique image tag
        id: set-tag
        run: |
          HASH=$(git hash-object project/src/main/java/com/example/revisionapp/RevisionController.java)
          TAG=$(date +%Y%m%d%H%M%S)-$HASH
          echo "tag=$TAG" >> $GITHUB_OUTPUT

      - name: Build & push Docker image
        run: |
          docker build --no-cache -t narland/java:${{ steps.set-tag.outputs.tag }} project/
          docker push narland/java:${{ steps.set-tag.outputs.tag }}

